name: Terraform Infrastructure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan \
          -var="aws_region=us-east-1" \
          -var="project_name=my-strapi" \
          -var="image_uri=public.ecr.aws/docker/library/nginx:latest" \
          -var="execution_role_arn=arn:aws:iam::811738710312:role/ecsExecutionRole" \
          -var="codedeploy_role_arn=arn:aws:iam::811738710312:role/codedeployRole"
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve \
          -var="aws_region=us-east-1" \
          -var="project_name=my-strapi" \
          -var="image_uri=public.ecr.aws/docker/library/nginx:latest" \
          -var="execution_role_arn=arn:aws:iam::811738710312:role/ecsExecutionRole" \
          -var="codedeploy_role_arn=arn:aws:iam::811738710312:role/codedeployRole"
        working-directory: terraform
